body{
    margin: 0;
    padding: 60px;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    main{
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 25vw;
        padding: 20px 20px 20px 20px;
        transition: 0.2s ease;
        hr{
            width: 80%;
        }
        section{
            margin: 15px;
            color: white;
        }
        p{
            text-align: justify;
            margin: 0;
            padding: 10px;
        }
        h1,h2{
            margin: 10px;
            text-align: center;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                font-style: italic;
            }
        }
        a{
            padding: 10px;
            color: white;
            text-decoration: none;
            transition: 0.2s ease;
            &:hover{
                color: #ff5bcb;
            }   
        }
        img{
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
        button{
            background-color: #ff5bcb;
            color: white;
            border: none;
            margin: 10px;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.2s ease;
            &:hover{
                color: #ff5bcb;
                background-color: #ffff;
            }
        }
    }
    #secret{
        position: absolute;
        top: 20%;
        left: 40%;
        width: 20vw;
        height: 40vh;
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    body{
        padding: 20px;
        main{
            margin: 35vh auto;
            width: 80vw;
            padding: 10px;
            section{
                margin: 10px;
            }
            p{
                padding: 5px;
            }
            h1,h2{
                margin: 5px;
            }
            button{
                margin: 5px;
                padding: 5px 10px;
            }
            img{
                width: 80%;
                height: auto;
            }
        }
        #secret{
            top: 20%;
            left: 10%;
            width: 70vw;
            height: 40vh;
        }
    }
}